%section#events{:style => 'position: relative;'}
    %h2 Events
    
    - unless Event.past.empty?
        %h3.show-past
            %small Show Past
        :coffeescript
            $ ->
                console.log ('lol')
                $('#events .show-past').click ->
                    $('#events .show-past').hide()
                    $('#events .past').slideDown()

        .past{:style => 'display: none;'}
            %h3 Past
            - Event.past.each do |event|
                %article.old
                    %h4= event.name
                    %h5 Date &amp; venue:
                    %p
                        - case event.begins_at.day % 10
                        - when 1
                            - dae = 'st'
                        - when 2
                            - dae = 'nd'
                        - when 3
                            - dae = 'rd'
                        - else
                            - dae = 'th'
                        = event.begins_at.strftime("%A, %B %e#{dae}, %Y")
                        at
                        = event.venue
                    - unless event.lineup.empty?
                        %h5 Lineup
                        %p= event.lineup

                    - unless event.fb_link.empty? and event.gallery.nil? 
                        %p
                            - unless event.fb_link.empty?
                                = link_to "Facebook", event.fb_link
                            - unless event.gallery.nil?
                                = link_to "Photos", {:anchor => "gallery_#{event.gallery.id}"}, {:class => "gallery-link"}

    - unless Event.upcoming.empty?
        %h3 Upcoming
        
        - Event.upcoming.each do |event|
            %article.featured
                %h4= event.name
                %h5 Date &amp; venue:
                %p
                    - case event.begins_at.day % 10
                    - when 1
                        - dae = 'st'
                    - when 2
                        - dae = 'nd'
                    - when 3
                        - dae = 'rd'
                    - else
                        - dae = 'th'
                    = event.begins_at.strftime("%A, %B %e#{dae}, %Y")
                    at
                    = event.venue
                - unless event.lineup.empty?
                    %h5 Lineup
                    %p= event.lineup
                - unless event.fb_link.empty?
                    %p= link_to "Facebook", event.fb_link
    - else
        %h3 To be announced

:coffeescript
    $ ->
        $('.gallery-link').click (e) ->
            e.preventDefault()
            targetId = e.currentTarget.href.substr(e.currentTarget.href.indexOf('#'), e.currentTarget.href.length)
            newTop = $(targetId).offset().top - $('#nav').outerHeight()
            $('body').animate({scrollTop: newTop}, 333)