%nav#player-nav{style: 'position: absolute; left: 0; top: 0; right: 0;'}
%nav#nav{'data-0' => 'position: !absolute; bottom: !0px; top: auto;', 'data-top-top' => 'position: !fixed; bottom: !auto; top: !0px; z-index: 9999'}
#map
#crosshairs
#app
#container
#music
    %div{:id => 'player_jupiter', :class => 'ui360 ui360-vis ui360-init'}
        %a{:href => "/mp3/entheogen-jupiter.mp3"}
    %div{:id => 'player_callisto', :class => 'ui360 ui360-vis ui360-init'}
        %a{:href => "/mp3/entheogen-callisto.mp3"}
    %div{:id => 'player_europa', :class => 'ui360 ui360-vis ui360-init'}
        %a{:href => "/mp3/entheogen-europa.mp3"}
    %div{:id => 'player_io', :class => 'ui360 ui360-vis ui360-init'}
        %a{:href => "/mp3/entheogen-io.mp3"}
    %div{:id => 'player_ganymede', :class => 'ui360 ui360-vis ui360-init'}
        %a{:href => "/mp3/entheogen-ganymede.mp3"}
    %div{:id => 'player_venus', :class => 'ui360 ui360-vis ui360-init'}
        %a{:href => "/mp3/entheogen-venus.mp3"}
    %div{:id => 'player_string-of-pearls', :class => 'ui360 ui360-vis ui360-init'}
        %a{:href => "/mp3/entheogen-string-of-pearls.mp3"}

#secondary
    = render "events"
    
    = render "news"
                    
    = render "materials"
    
    = render "visuals"

    = render "entheogenesis"

= render "footer"

