
%nav#nav{'data-0' => 'position: !absolute; bottom: !0px; top: auto;', 'data-top-top' => 'position: !fixed; bottom: !auto; top: !0px; z-index: 9999'}
#map
#crosshairs
#app
#container
#music
    %div{:id => 'player_jupiter', :class => 'ui360 ui360-vis ui360-init'}
        %a{:href => "/mp3/entheogen-jupiter.mp3"}
    %div{:id => 'player_callisto', :class => 'ui360 ui360-vis ui360-init'}
        %a{:href => "/mp3/entheogen-callisto.mp3"}
    %div{:id => 'player_europa', :class => 'ui360 ui360-vis ui360-init'}
        %a{:href => "/mp3/entheogen-europa.mp3"}
    %div{:id => 'player_io', :class => 'ui360 ui360-vis ui360-init'}
        %a{:href => "/mp3/entheogen-io.mp3"}
    %div{:id => 'player_ganymede', :class => 'ui360 ui360-vis ui360-init'}
        %a{:href => "/mp3/entheogen-ganymede.mp3"}
    %div{:id => 'player_venus', :class => 'ui360 ui360-vis ui360-init'}
        %a{:href => "/mp3/entheogen-venus.mp3"}
    %div{:id => 'player_string-of-pearls', :class => 'ui360 ui360-vis ui360-init'}
        %a{:href => "/mp3/entheogen-string-of-pearls.mp3"}

#secondary
    %section#events{:style => 'position: relative;'}
        %h2 Events
        
        %h3.show-past{:style => 'position: absolute; right: 0; text-align: right;'}
            %small Show Past
        :coffeescript
            $ ->
                console.log ('lol')
                $('#events .show-past').click ->
                    $('#events .show-past').hide()
                    $('#events .past').show()

        .past{:style => 'display: none;'}
            %h3 Past
            - Event.past.each do |event|
                %article.old
                    %h4= event.name
                    %h5 Date &amp; venue:
                    %p
                        - case event.begins_at.day % 10
                        - when 1
                            - dae = 'st'
                        - when 2
                            - dae = 'nd'
                        - when 3
                            - dae = 'rd'
                        - else
                            - dae = 'th'
                        = event.begins_at.strftime("%A, %B %e#{dae}, %Y")
                        at
                        = event.venue
                    - unless event.lineup.empty?
                        %h5 Lineup
                        %p= event.lineup
                    - unless event.fb_link.empty?
                        %p= link_to "Facebook", event.fb_link
        %h3 Upcoming
        
        - Event.upcoming.each do |event|
            %article.featured
                %h4= event.name
                %h5 Date &amp; venue:
                %p
                    - case event.begins_at.day % 10
                    - when 1
                        - dae = 'st'
                    - when 2
                        - dae = 'nd'
                    - when 3
                        - dae = 'rd'
                    - else
                        - dae = 'th'
                    = event.begins_at.strftime("%A, %B %e#{dae}, %Y")
                    at
                    = event.venue
                - unless event.lineup.empty?
                    %h5 Lineup
                    %p= event.lineup
                - unless event.fb_link.empty?
                    %p= link_to "Facebook", event.fb_link

    
    - posts = Post.all.reject {|p| p.published_at.nil? }
    - unless posts.empty?
        %section#news.surfacebox
            %h2 News

            - posts.each do |post|
                - unless post.published_at.nil?
                    .surf
                        %p= post.body
                        %p
                            %small= post.published_at.strftime("%A, %B %e. %Y")
                    
    %section#materials
        %h2 Materials

        .cd{'data-bottom-top' => 'opacity: 0; transform[sqrt]: translateY(-8.00em);', 'data-center-center' => 'opacity: 1; transform[sqrt]: translateY(0.00em);'}
            %a{:href => 'http://entheogenband.bandcamp.com', :target => 'blank'}
                %img{:src => '/img/cd-preview-render.png'}
    
    %section#visuals
        %h2 Visuals

        - Gallery.all.each do |gallery|
            %h3= gallery.name
            
            .images
                - gallery.photos.each do |photo|
                    .image.image-small
                        = image_tag photo.image.url

        :coffeescript
            $ ->
                $('#visuals').imagesLoaded -> 
                    $('#visuals .images').packery({
                        itemSelector: '.image'
                        gutter: 0
                    })
                    $('#visuals .image').click (e) ->
                        if $(e.currentTarget).hasClass 'image-big'
                            $(e.currentTarget).removeClass 'image-big'
                            $(e.currentTarget).addClass 'image-small'
                        else
                            $(e.currentTarget).removeClass 'image-small'
                            $(e.currentTarget).addClass 'image-big'
                        
                        $(e.currentTarget).parent('.images').packery('fit', e.currentTarget)
                        $(e.currentTarget).parent('.images').packery('layout')

    %section#entheogenesis.surfacebox
        %h2 Entheogenesis
            
        .surf
            %p Approximately four years ago two planetoids - one from a stoner rock group called MG Pistol Rock, the other from a math/post rock group called Imakandi - collided and melted all but their metal core. The result is Entheogen - a homogenous mixture of math/sludge with a pinch of post- and stoner rock. After years of evolution, erosion and gigabytes of organized noise enough matter had broken away from the moons to create a debut album, scheduled to see its first sunrise in the first half of 2013. 

            %p The creative process converted the resulting friction into energy for Moons of Jupiter - a thematic album dedicated to the STS-34 mission - the spacecraft Galileo (named after the first observer of Jupiter's moons, described in his Siderius Nuncius from 1610) that was launched on its path from Earth to the gas giant in 1989. The music represents an attempt of a sonic rendering of the mission and is therefore different from phase to phase. The basis remains instrumental math/sludge with influences from bands like Neurosis, Meshuggah, Pelican, Alice in Chains and the like.
            
            %p Released 11 May 2013 
            %p Matic Kadliček, Sergej Žižek, Matej Voglar, Matija Bencik

%footer{:style => 'display: none'}
    .event-horizon
        Next Event @ Future Venue

    .social
        .youtube
            YouTube
        .facebook
            Facebook
        .reverb-nation
            Reverb Nation

    .contact
        %a{:href => 'mailto:info@entheogen.si'} info@entheogen.si

